<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Paint Parlor</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

  </head>
  <body>
    <!---header-->
    <header>
      <div class="logo">
    <img src="{% static 'assests/paint logo.jpg' %}" alt="The Paint Parlor Logo" width="150">
    <h1>The Paint Parlor</h1>
</div>

      <nav>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#services">Service</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#review">Review</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>


<!-- Home Section -->
    <section id="home" class="home" style="background-image: url(`{% static 'assets/home.jpg' %}`);">
      <div class="home-content">
        <h2>Perfect Blend of Colors and Craftsmanship</h2>
        <a href="#book-us" class="cta-btn">Book Us Now</a>
      </div>
    </section>


    <!--services-->
    <section id="services">
      <div class="title-text">
        <p>SERVICE</p>
        <h1>We Provide Better</h1>
      </div>
      <div class="service-box">
        <div class="single-service">
          <img src="{% static 'assests/cabinetservice.jpg' %}" alt="" />
          <div class="overlay"></div>
          <div class="service-desc">
            <h3>cabinet painting</h3>
            <hr />
            <p>
              udfuiajdksj vdh hdsugaui pa[ieeu jsdfjhfuijfjiduxdfngufnvjrvnu fsd
              u gjn irfjidf krfs i h fnfu nf hffur jisfiruhshuhsuh u huhrsus
              uhushu hhunvruhgfvn
            </p>
          </div>
        </div>
        <div class="single-service">
          <img src="{% static 'assests/doorservice.jpg' %}" alt="a woman standing a machine" />
          <div class="overlay"></div>
          <div class="service-desc">
            <h3>Door painting</h3>
            <hr />
            <p>
              udfuiajdksj vdh hdsugaui pa[ieeu jsdfjhfuijfjiduxdfngufnvjrvnu fsd
              u gjn irfjidf krfs i h fnfu nf hffur jisfiruhshuhsuh u huhrsus
              uhushu hhunvruhgfvn
            </p>
          </div>
        </div>
        <div class="single-service">
          <img src="{% static 'assests/interiorservice.jpg' %}" alt="a woman standing a machine" />
          <div class="overlay"></div>
          <div class="service-desc">
            <h3>interior painting</h3>
            <hr />
            <p>
              udfuiajdksj vdh hdsugaui pa[ieeu jsdfjhfuijfjiduxdfngufnvjrvnu fsd
              u gjn irfjidf krfs i h fnfu nf hffur jisfiruhshuhsuh u huhrsus
              uhushu hhunvruhgfvn
            </p>
          </div>
        </div>
        <div class="single-service">
          <img
            src="{% static 'assests/windowService.jpg' %}"
            alt="a woman standing a machine"
          />
          <div class="overlay"></div>
          <div class="service-desc">
            <h3>window painting</h3>
            <hr />
            <p>
              udfuiajdksj vdh hdsugaui pa[ieeu jsdfjhfuijfjiduxdfngufnvjrvnu fsd
              u gjn irfjidf krfs i h fnfu nf hffur jisfiruhshuhsuh u huhrsus
              uhushu hhunvruhgfvn
            </p>
          </div>
        </div>

<div class="single-service">
          <img src="{% static 'assests/exteriorService.jpg' %}" alt="a woman standing a machine" />
          <div class="overlay"></div>
          <div class="service-desc">
            <h3>Exterior painting</h3>
            <hr />
            <p>
              udfuiajdksj vdh hdsugaui pa[ieeu jsdfjhfuijfjiduxdfngufnvjrvnu fsd
              u gjn irfjidf krfs i h fnfu nf hffur jisfiruhshuhsuh u huhrsus
              uhushu hhunvruhgfvn
            </p>
          </div>
        </div>

        <div class="single-service">
          <img src="{% static 'assests/fenceService.jpg' %}" alt="a woman standing a machine" />
          <div class="overlay"></div>
          <div class="service-desc">
            <h3>fence Painting</h3>
            <hr />
            <p>
              udfuiajdksj vdh hdsugaui pa[ieeu jsdfjhfuijfjiduxdfngufnvjrvnu fsd
              u gjn irfjidf krfs i h fnfu nf hffur jisfiruhshuhsuh u huhrsus
              uhushu hhunvruhgfvn.
            </p>
          </div>
        </div>

      </div>
    </section>

 <!---FEATURES-->
    <section id="about">
      <div class="title-text">
        <p>ABOUT US</p>
        <h1>Why Choose Us</h1>
      </div>
      <div class="feature-box">
        <div class="features">
          <h1>Experienced Staff</h1>
          <div class="features-desc">
            <div class="feature-icon">
              <i class="fa fa-shield" aria-hidden="true"></i>
            </div>
            <div class="feature-text">
              <p>
                dfjsdf jdhlksafuih lfsuasl jjdofs uaiudf uiodsuafh uidfe idhsi
                idshi shaio fjgugk i sujsf psufudv vduvudfi nvnrurs dfjvnio
              </p>
            </div>
          </div>
          <!----second-->
          <h1>Pre Booking Online</h1>
          <div class="features-desc">
            <div class="feature-icon">
              <i class="fa fa-check-square" aria-hidden="true"></i>
            </div>
            <div class="feature-text">
              <p>
                dfjsdf jdhlksafuih lfsuasl jjdofs uaiudf uiodsuafh uidfe idhsi
                idshi shaio fjgugk i sujsf psufudv vduvudfi nvnrurs dfjvnio
              </p>
            </div>
          </div>

          <!----third-->
          <h1>Affordable Cost</h1>
          <div class="features-desc">
            <div class="feature-icon">
              <i class="fa fa-inr" aria-hidden="true"></i>
            </div>
            <div class="feature-text">
              <p>
                dfjsdf jdhlksafuih lfsuasl jjdofs uaiudf uiodsuafh uidfe idhsi
idshi shaio fjgugk i sujsf psufudv vduvudfi nvnrurs dfjvnio
              </p>
            </div>
          </div>
        </div>
        <div class="features-img">
          <img src="assests/inter.jpg" alt="a lady cleaning" />
        </div>
      </div>
    </section>

    <!--testimonial-->
    <section id="review">
      <div class="title-text">
        <p>Testimonial</p>
        <h1>What Client Says</h1>
      </div>
      <div class="testimonial-row">
        <div class="testimonial-col">
          <div class="user">
            <img src="{% static 'assests/client.jpg' %}" alt="user pic">
            <div class="user-info">
              <h4>solomon Akotua<i class="fa fa-twitter-square" aria-hidden="true"></i></h4>
              <small>@soloako</small>
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum
            obcaecati pariatur magnam asperiores amet voluptas, eius hic
            dolorum! Cumque aperiam ducimus iste pariatur inventore. Et nihil
            sint laboriosam deserunt distinctio.
          </p>
        </div>
        <div class="testimonial-col">
          <div class="user">
            <img src="{% static 'assests/client.jpg' %}" alt="user pic">
            <div class="user-info">
              <h4>Mary Rose<i class="fa fa-twitter-square" aria-hidden="true"></i></h4>
              <small>@maryrosee</small>
               </div>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum
            obcaecati pariatur magnam asperiores amet voluptas, eius hic
            dolorum! Cumque aperiam ducimus iste pariatur inventore. Et nihil
            sint laboriosam deserunt distinctio.
          </p>
        </div>
        <div class="testimonial-col">
          <div class="user">
            <img src="{% static 'assests/client.jpg' %}" alt="user pic">
            <div class="user-info">
              <h4>Miriam Daniel<i class="fa fa-twitter-square" aria-hidden="true"></i></h4>
              <small>@mimidan</small>
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum
            obcaecati pariatur magnam asperiores amet voluptas, eius hic
            dolorum! Cumque aperiam ducimus iste pariatur inventore. Et nihil
            sint laboriosam deserunt distinctio.
          </p>
        </div>
      </div>
    </section>

<!----book us now-->
<section id="contact">
  <img src="{% static 'assests/walls.jpg' %}" class="footer-img">
  <div class="title-text">
        <p>contact Us</p>
        <h1>  Today</h1>
      

<!-- Book Us Now Section -->
    <section id="book-us" class="book-us">
      <h2>Book Us Now</h2>
      <div class="call">
        <img src="assests/fence.jpg" alt="">
      </div>
      <form id="booking-form" method ="post" action=".">
        {% csrf_token %}
        <label for="service">Service Type</label>
        <select id="service" name="service">
          <option value="service1">Exterior Painting</option>
          <option value="service2">cabinet painting</option>
          <option value="service3">Door painting</option>
          <option value="service4">Interior painting</option>
          <option value="service5">Window painting</option>
          <option value="service6">Fence painting</option>
        </select>

        <label for="name">Name</label>
        <input type="text" id="name" name="name" required />

        <label for="address">Address</label>
        <input type="text" id="address" name="address" required />

        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />

        <label for="location">Location</label>
        <input type="text" id="location" name="location" required />

        <button type="submit">Submit</button>
         </form>
    </section>

</section>


 <!-- Footer Section -->
    <footer>
      <p>&copy; 2025 The Paint Parlor. All rights reserved.</p>
    </footer>

    <script src="{% static 'js/script.js'%}"></script>


  </body>
</html>
