{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>
    .delete-portfolio-form {
  margin-top: 20px;
}

.delete-portfolio-form button[type="submit"] {
  margin-right: 10px;
}

</style>
  <h1>Delete Portfolio: {{ object.title }}</h1>
  <p>Are you sure you want to delete this portfolio? This action cannot be undone.</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete Portfolio</button>
    <a href="{% url 'portfolio_detail_view' object.portfolio_id %}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock %}
