{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>
  form .form-control {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
form .form-group {
  margin-bottom: 1rem;
}


form .form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

form .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

form label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: #fff;
}

</style>
<div class="container" style="margin-top: 50px;">
  <h2 class="text-center">Welcome {{request.user.username}} Follow the instructions to update your password</h2>
  <br><br>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="utf_dashboard_list_box margin-top-0">
        <h4 class="gray"><i class="fas fa-lock"></i>Change Password</h4>
        <div class="utf_dashboard_list_box-static">
          <div class="my-profile">
            <form class="row with-forms update-password-form" method="post" action=".">
              {% csrf_token %}
              <div class="col-md-12">
                {{form.as_p}}
              </div>
              <br><br>
              <div class="col-md-12">
                <button type="submit" value="confirm" class="button preview btn_center_item margin-top-15">Change password</button>
              </div>
            </form>
            <a class="btn btn-danger" href="{% url 'signin' %}">back</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
