{% load static %}
<link rel="stylesheet" href="{% static 'dashboard/assets/boxicon/boxicons.css' %}" />
<style>
    @font-face {
        font-family: "boxicons";
        font-weight: normal;
        font-style: normal;
        src: url("{% static 'dashboard/assets/boxicon/boxicons/boxicons.eot' %}");
        src: url("{% static 'dashboard/assets/boxicon/boxicons/boxicons.eot' %}") format("embedded-opentype"), url("{% static 'dashboard/assets/boxicon/boxicons/boxicons.woff2' %}") format("woff2"), url("{% static 'dashboard/assets/boxicon/boxicons/boxicons.woff' %}") format("woff"), url("{% static 'dashboard/assets/boxicon/boxicons/boxicons.ttf' %}") format("truetype"), url("{% static 'dashboard/assets/boxicon/boxicons/boxicons.svg?#boxicons' %}") format("svg");
    }
    @font-face {
        font-family: 'bootstrap-icons';
        src: url("{% static 'dashboard/assets/fonts/bootstrap-icons.woff2' %}") format('woff2');
    }
</style>